# Dependencies
node_modules/

# Build
dist/

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# Release
.release-notes